ul {
  list-style-type: none;
  display: flex;
  font-size: 15px;
  font-family:;
  font font-weight: 400;
}
li {
  background-color: hsl(300, 43%, 22%);
  margin: 20px;
  color: azure;
  text-align: center;
  width: 20%;
  height: 10%;
  border-radius: 5px;
}

img {
  height: 30px;
  border-radius: 100%;
}
.class {
  display: inline;
}
.image {
  display: inline;
}
p {color:  hsl(333, 80%, 67%);}
span {font-weight: 30;}
.upperpart {font-size: 30px;
    color: hsl(300, 43%, 22%);}
.split {width: 300px;
    flex-direction: row;}
.intro {width: 500px;}


.RatingStar {background-color: hsl(300, 24%, 96%);}